{{ 'product-list.css' | asset_url | stylesheet_tag }}

{% assign products = collections.all.products %}

<section class="container">
  {% if products.size > 0 %}
    {% for product in products %}
      <div class="container__product">
        <a href="{{ product.url }}">
          <div
            style="background-image: url('{{ product.featured_image }}')"
          ></div>
        </a>
        <a href="{{ product.url }}" class="name">{{ product.title }}</a>
        <div class="price">
          <p>{{ product.price }}</p>
          <s>{{ product.compare_at_price_max }}</s>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No products found.</p>
  {% endif %}
</section>

{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Products"
    }
  ],
  "presets": [
    {
      "name": "Product List - Default",
      "category": "Products"
    }
  ]
}
{% endschema %}
